[core]
    editor = nvim
    excludesfile = ~/.gitignore_global
    whitespace = warn
[merge]
    tool = vimdiff
[color]
    ui = true
[alias]
    lg = log --pretty=oneline --graph --all --decorate --abbrev-commit
[interactive]
    singlekey = true
[pull]
    rebase = false
[filter "lfs"]
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true
[init]
    defaultBranch = main
