[user]
    email = dzhurley@gmail.com
    name = Derek Hurley
[core]
    editor = nvim
    excludesfile = ~/.gitignore_global
    whitespace = warn
[merge]
    tool = vimdiff
[github]
    user = dzhurley
[color]
    ui = true
[alias]
    lg = log --pretty=oneline --graph --all --decorate --abbrev-commit
[interactive]
    singlekey = true
[includeIf "gitdir:~/codes/aclima/"]
    path = ~/codes/aclima/.gitconfig_include
[pull]
    rebase = false
