[user]
    email = dzhurley@gmail.com
    name = Derek Hurley
[core]
    editor = vim
    excludesfile = ~/.gitignore_global
    whitespace = warn
[merge]
    tool = vimdiff
[github]
    user = dzhurley
[color]
    ui = true
[alias]
    lg = log --pretty=oneline --graph --all --decorate --abbrev-commit
[interactive]
    singlekey = true
