snippet fn "module function def" i
function($1) {
	$2
}
endsnippet

snippet fm "module function def" b
$1: function($2) {
	$3
},
endsnippet

snippet fv "assigned function def" b
var $1 = function($2) {
	$3
};
endsnippet

snippet def "function def" b
def $1($2):
	$3
endsnippet

snippet cls "class with init" b
class $1($2):

	def __init__(self):
		super($1, self).__init__(self)
endsnippet
